.app-header {
  background-color: var(--clr1);
  color: var(--clr1bg);
}

.app-nav {
  padding-bottom: 15px;
}

.logo {
  padding-top: 10px;
  font-family: el-messiri;
  font-size: 3rem;
}

.nav-link {
  font-size: 1.5rem;
  padding: 10px;
}

.nav-link::after {
  content: ' |';
}

.nav-link.active {
  font-size: 2rem;
  padding: 10px;
  color: white;
}

.book::after {
  content: "";
}