form {
    text-align: center;
}

.Book-list {
    list-style: none;
    display: grid;
    grid-template-columns: 333px 333px 333px 333px;
    gap: 20px;
    padding: 0;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.book-card {
    background-color: rgb(153 166 149 / 21%);
    position: relative;
    border-radius: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.149);
    box-shadow: 0 0 20px 1px #00000036;
    padding: 10px;
    transition: transform .4s;
}

.book-card:hover {
    transform: scale(1.03, 1.03);
}

.book-preview {
    font-size: 1.2rem;
}

.books-title {
    font-size: 3rem;
    text-align: center;
}

label {
    font-size: 2rem;
    padding: 10px;
}

input {
    font-size: 1.5rem;
    border-radius: 2rem;
    padding: 5px;
    padding-left: 15px;
}

button {
    font-size: 1.2rem;
    border-radius: 0.7rem;
    line-height: 1.2rem;
    border-radius: 2rem;
    padding: 12px 30px;
    vertical-align: baseline;
}

button.remove-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.3rem;
    background-color: rgba(255, 0, 0, 0.154);
}

.book-card-title {
    padding-top: 2rem;
}

.text-wrap {
    height: 160px;
    margin-bottom: 10px;
}