/* Setup */
@import 'setup/vars.css';
@import 'setup/typography.css';

/* Base */
@import 'base/base.css';
@import 'base/helpers.css';
@import 'base/layout.css';
@import 'base/forms.css';

/* Components */
@import 'cmps/app-header.css';
@import 'cmps/user-msg.css';
@import 'cmps/book-index.css';
@import 'cmps/book-detalis.css';


@media (max-width: 1460px) {
    .Book-list {
        grid-template-columns: 27% 27% 27%;
    }

    .app-nav,
    .logo {
        text-align: center;
    }

}

@media (max-width: 1100px) {
    .Book-list {
        grid-template-columns: 48% 48%;
    }

    .filter-btn {
        display: none;
    }

    input {
        display: block;
        margin: 0 auto;
    }


    img {
        width: 100%;
    }
}

@media (max-width: 740px) {
    .Book-list {
        grid-template-columns: 95%;
    }

}