:root {
  --clr1: rgb(96, 107, 91);
  --clr2: rgb(120, 99, 110);

  --clr1bg: rgb(153, 166, 149);
  --clr1bg-light: rgb(205, 221, 200);
  --clr2bg: rgb(233, 206, 221);
  --clr2bg-light: rgb(247, 185, 219);

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);


  /* my colors */
  --clr-header: #292929;
  --clr-header-text: #FFFFFF;
  --clr-title: #4F4E4E;
  --clr-p: #606060;
  --clr-hover-btn: #58C93A;
  --clr-page-turn: #818181;
  --clr-footer: #F8F8F8;
  --clr-facebook: #516FAD;
  --clr-footer-text: #A6A6A6;
  --clr-button: #C2C2C2;
  --clr-social: #E5E5E5;
}